
<div class="row mb-4">
  <div class="col-12">
    <div class="card">
      <h1 class="card-header">Voice and Tone</h1>
      <div class="card-body">
        <h5 class="card-title">Strengthen's voice and tone is one of confidence for both new and power users, friendly and inviting, professional, and direct.</h5>
        <p>
            Voice may always be the same, but tone can change depending on user interaction and touchpoints. Blogs will be written in a much different tone than step by step instructions on a form.</p>
      </div>
    </div>
  </div>
</div>
<div class="row mb-4">
  <div class="col-12">
    <h3>show examples here from blog/etc</h3>
  </div>
</div>