
<div class="row mb-4" id="color-row">
  <div class="col-12">
    <div class="card">
      <h1 class="card-header">Brand Colors</h1>
      <div class="card-body">
        <h5 class="card-title">Strengthen's brand colors are the visual representation of our core values.</h5>
      </div>
    </div>
  </div>
</div>
<div class="row mb-4">
  <div class="col-12">
    <h3>Colors</h3>
    <ul class="colors text-left">
      <li class="colors__item colors--primary"><span class="colors__swatch"></span><code class="colors__label"></code></li>
      <li class="colors__item colors--secondary"><span class="colors__swatch"></span><code class="colors__label"></code></li>
      <li class="colors__item colors--light"><span class="colors__swatch"></span><code class="colors__label"></code></li>
      <li class="colors__item colors--dark"><span class="colors__swatch"></span><code class="colors__label"></code></li>
    </ul>
  </div>
</div>