
<div class="row mb-4">
  <div class="col-12">
    <div class="card">
      <h1 class="card-header">Logo</h1>
      <div class="card-body">
        <h5 class="card-title">Strengthen's logo is the face, besides our own pretty faces, of our brand.</h5>
      </div>
    </div>
  </div>
</div>
<div class="row mb-4">
  <div class="col-12"><img class="img-fluid" src="images/logo-dos-donts.jpg"></div>
</div>
<div class="row mb-4">
  <div class="col-12">
    <h3>Logo Versions</h3><img class="img-fluid" src="logo-color.svg">
  </div>
  <div class="col-12 dark-logo-section"><img class="img-fluid" src="logo-white.svg"></div>
  <div class="col-12 light-logo-section"><img class="img-fluid" src="logo-one-color.svg"></div>
</div>