
<!-- Sidebar-->
<nav id="sidebar">
  <div class="sidebar-header"><img class="logo" src="images/logo.png"></div>
  <ul class="list-unstyled components">
    <li><a href="../#color-row">Color</a></li>
    <li><a href="../#typography-row">Typography</a></li>
    <li><a href="../#imagery-row">Imagery</a></li>
    <li><a href="../#icons-row">Icons</a></li>
    <li> <a href="../#interaction-row">Interaction</a></li>
    <li><a href="../components.html">Components</a></li>
    <li><a href="../branding.html">Branding</a></li>
  </ul>
</nav>