
<!-- Sidebar-->
<nav id="sidebar">
  <div class="sidebar-header"><img class="logo" src="images/logo.png"></div>
  <ul class="list-unstyled components">
    <li><a href="#color-row">Color</a></li>
    <li><a href="#typography-row">Typography</a></li>
    <li><a href="#imagery-row">Imagery</a></li>
    <li><a href="#">Icons</a></li>
    <li><a href="#">Spacing</a></li>
    <li> <a href="#">Interaction</a></li>
    <li><a href="#">Components</a></li>
    <li><a href="#">Branding</a></li>
  </ul>
</nav>