
<div class="row mb-4">
  <div class="col-12"></div>
  <div class="card">
    <h5 class="card-header">Color</h5>
    <div class="card-body"></div>
    <h5 class="card-title"></h5>
    <p class="card-text">Strengthen uses strategic colors to give users a fluid, easy to view experience. Colors should provide good contrast, clarity, and ease of viewing.</p>
  </div>
</div>
<div class="row mb-4">
  <div class="col-12"></div>
  <h3>Color Scheme</h3>
  <ul class="colors text-left">
    <li class="colors__item colors--primary"><span class="colors__swatch"></span><code class="colors__label"></code></li>
    <li class="colors__item colors--secondary"><span class="colors__swatch"></span><code class="colors__label"></code></li>
    <li class="colors__item colors--light"><span class="colors__swatch"></span><code class="colors__label"></code></li>
    <li class="colors__item colors--dark"><span class="colors__swatch"></span><code class="colors__label"></code></li>
    <li class="colors__item colors--blue"><span class="colors__swatch"></span><code class="colors__label"></code></li>
    <li class="colors__item colors--indigo"><span class="colors__swatch"></span><code class="colors__label"></code></li>
    <li class="colors__item colors--purple"><span class="colors__swatch"></span><code class="colors__label"></code></li>
    <li class="colors__item colors--pink"><span class="colors__swatch"></span><code class="colors__label"></code></li>
    <li class="colors__item colors--red"><span class="colors__swatch"></span><code class="colors__label"></code></li>
    <li class="colors__item colors--orange"><span class="colors__swatch"></span><code class="colors__label"></code></li>
    <li class="colors__item colors--yellow"><span class="colors__swatch"></span><code class="colors__label"></code></li>
    <li class="colors__item colors--green"><span class="colors__swatch"></span><code class="colors__label"></code></li>
    <li class="colors__item colors--teal"><span class="colors__swatch"></span><code class="colors__label"></code></li>
    <li class="colors__item colors--cyan"><span class="colors__swatch"></span><code class="colors__label"></code></li>
    <li class="colors__item colors--white"><span class="colors__swatch"></span><code class="colors__label"></code></li>
    <li class="colors__item colors--gray"><span class="colors__swatch"></span><code class="colors__label"></code></li>
    <li class="colors__item colors--gray-dark"><span class="colors__swatch"></span><code class="colors__label"></code></li>
    <li class="colors__item colors--success"><span class="colors__swatch"></span><code class="colors__label"></code></li>
    <li class="colors__item colors--info"><span class="colors__swatch"></span><code class="colors__label"></code></li>
    <li class="colors__item colors--warning"><span class="colors__swatch"></span><code class="colors__label"></code></li>
    <li class="colors__item colors--danger"><span class="colors__swatch"></span><code class="colors__label"></code></li>
  </ul>
</div>