.row.mb-4#color-row
    .col-12
        .card
            h1.card-header Brand Colors
            .card-body
                h5.card-title Strengthen's brand colors are the visual representation of our core values.

.row.mb-4
    .col-12
        h3 Colors
        ul.colors.text-left
            li.colors__item.colors--primary
                span.colors__swatch
                code.colors__label
            li.colors__item.colors--secondary
                span.colors__swatch
                code.colors__label
            li.colors__item.colors--light
                span.colors__swatch
                code.colors__label
            li.colors__item.colors--dark
                span.colors__swatch
                code.colors__label