.row.mb-4
    .col-12
        .card
            h1.card-header Voice and Tone
            .card-body
                h5.card-title Strengthen's voice and tone is one of confidence for both new and power users, friendly and inviting, professional, and direct.
                p   
                    | Voice may always be the same, but tone can change depending on user interaction and touchpoints. Blogs will be written in a much different tone than step by step instructions on a form.
.row.mb-4
    .col-12
        h3 show examples here from blog/etc