.row.mb-4
    .col-12
        .card
            h1.card-header Logo
            .card-body
                h5.card-title Strengthen's logo is the face, besides our own pretty faces, of our brand.
.row.mb-4
    .col-12
        img.img-fluid(src='images/logo-dos-donts.jpg')
.row.mb-4
    .col-12
        h3 Logo Versions
        img.img-fluid(src='logo-color.svg')
    .col-12.dark-logo-section
        img.img-fluid(src='logo-white.svg')
    .col-12.light-logo-section
        img.img-fluid(src='logo-one-color.svg')

