.row.mb-4
    .col-12
        .card
            h1.card-header Typograhy
            .card-body
                h5.card-title Strengthen's typography is the physical voice and tone of who we are.
.row.mb-4
    .col-12
        img.img-fluid(src='images/typograhy-specimen.svg')