.row.mb-4#color-row
    .col-12
        .card
            h1.card-header Color
            .card-body
                h5.card-title Strengthen uses strategic colors to give users a fluid, easy to view experience.
                p.card-text
                    |  Colors should provide good contrast, clarity, and ease of viewing. Colors can be used to give users a heirarchy of importance in actions. Use colors to direct users to action, show importance 
                    span.text-danger (red alert text)
                    | , and provide easy communication.
.row.mb-4
    .col-12
        h3 Color Scheme
        ul.colors.text-left
            li.colors__item.colors--primary
                span.colors__swatch
                code.colors__label
            li.colors__item.colors--secondary
                span.colors__swatch
                code.colors__label
            li.colors__item.colors--light
                span.colors__swatch
                code.colors__label
            li.colors__item.colors--dark
                span.colors__swatch
                code.colors__label
            li.colors__item.colors--blue
                span.colors__swatch
                code.colors__label
            li.colors__item.colors--indigo
                span.colors__swatch
                code.colors__label
            li.colors__item.colors--purple
                span.colors__swatch
                code.colors__label
            li.colors__item.colors--pink
                span.colors__swatch
                code.colors__label
            li.colors__item.colors--red
                span.colors__swatch
                code.colors__label
            li.colors__item.colors--orange
                span.colors__swatch
                code.colors__label
            li.colors__item.colors--yellow
                span.colors__swatch
                code.colors__label
            li.colors__item.colors--green
                span.colors__swatch
                code.colors__label
            li.colors__item.colors--teal
                span.colors__swatch
                code.colors__label
            li.colors__item.colors--cyan
                span.colors__swatch
                code.colors__label
            li.colors__item.colors--white
                span.colors__swatch
                code.colors__label
            li.colors__item.colors--gray-light
                span.colors__swatch
                code.colors__label
            li.colors__item.colors--gray
                span.colors__swatch
                code.colors__label
            li.colors__item.colors--gray-dark
                span.colors__swatch
                code.colors__label
            li.colors__item.colors--success
                span.colors__swatch
                code.colors__label
            li.colors__item.colors--info
                span.colors__swatch
                code.colors__label
            li.colors__item.colors--warning
                span.colors__swatch
                code.colors__label
            li.colors__item.colors--danger
                span.colors__swatch
                code.colors__label
.row.mb-4
    .col-12
        .card
            h5.card-header Usage
            .card-body
                h5.card-title
                p.card-text
                    | Colors should be used with the above values. 
                p 
                    | Tints and shades are allowed within reason (~25% max change).
                p 
                    | Colors should be used consistently within groups.  (See styleguide components for further details).