.row.mb-4#interaction-row
    .col-12
        .card
            h1.card-header Icons
            .card-body
                h5.card-title Strengthen uses consistent icons throughout all touchpoints of the platform.
                p.card-text
                    |  Icons must provide predictable behaviors and actions for users, allowing for an always familiar experience for new and power users.
                h5.card-title
                    | Please visit 
                    code
                        |
                        a(href='https://fontawesome.com/icons?d=gallery') https://fontawesome.com/icons?d=gallery
                    |  for a total list of icons from Font Awesome.
