// Sidebar
nav#sidebar
    .sidebar-header
        img.logo(src='images/logo.png')
    ul.list-unstyled.components
        li
            a(href='#color-row') Color
        li
            a(href='#typography-row') Typography
        li
            a(href='#imagery-row') Imagery
        li
            a(href='#') Icons
        li
            a(href='#') Spacing
        li 
            a(href='#') Interaction
        li
            a(href='#') Components
        li
            a(href='#') Branding