// Sidebar
nav#sidebar
    .sidebar-header
        img.logo(src='images/logo.png')
    ul.list-unstyled.components
        li
            a(href='../index.html#color-row') Color
        li
            a(href='../index.html#typography-row') Typography
        li
            a(href='../index.html#imagery-row') Imagery
        li
            a(href='../index.html#icons-row') Icons
        li 
            a(href='../index.html#interaction-row') Interaction
        li
            a(href='../components.html') Components
        li
            a(href='../branding.html') Branding