// Sidebar
nav#sidebar
    .sidebar-header
        img.logo(src='images/logo.png')
    ul.list-unstyled.components
        li
            a(href='#color-row') Color
        li
            a(href='#typography-row') Typography
        li
            a(href='#pageSubmenu') Pages
        li
            a(href='#') Portfolio
        li
            a(href='#') Contact