.row.mb-4#typography-row
    .col-12
        .card
            h1.card-header Typography
            .card-body
                h5.card-title Strengthen uses typography to help show heirarchy of information.
                p.card-text
                    |  Our typography will champion legibility & readability, provide a clear focus for users, and be aesthetically pleasing across all devices.
.row.mb-4
    .col-12
        h3 Typography System
        .line
    .col-6

        h1 Heading 1 - Sample Heading
        code
            | font-size:2.4em;
        h2 Heading 2 - Sample Heading
        code
            | font-size:2em;
        h3 Heading 3 - Sample Heading
        code
            | font-size:1.6em;
        h4 Heading 4 - Sample Heading
        code
            | font-size:1.4em;
        h5 Heading 5 - Sample Heading
        code
            | font-size:1.2em;
        h6 Heading 6 - Sample Heading
        code
            | font-size:1.1em;

        p 
        | Sample of paragraphy text with 
        strong bold 
        | and 
        em italics 
        | .
        p
            code
                | font-size:1em;
    .col-6
        pre
            code
                | 
                | font-family: Lato,sans-serif;
                | 
                | // Body
                | font-weight: 300;
                | line-height: 1.3;
                | 
                | // Heading
                | font-weight: 700;
                | line-height: 1.7;

.row.mb-4
    .col-12
        .card
            h5.card-header Usage
            .card-body
                h5.card-title
                p.card-text
                    | Typography should be used with the above system taken into consideration.
                p 
                    | Following our typography system will provide an easy to read experience for the user.
                p 
                    | For special elements, such as graphics & other non-component elements, follow the brand guidelines instructions on type design.
                p  
                    | See 
                    code variables.scss
                    |  for specific documentation and mixin usage.